.hide {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.search-bar {
  font-size: 2rem;
  border-bottom: 0.5px solid black;
  width: 98%;
  outline: none;
  margin-top: 1rem;
}

.student-block-one {
  width: 100%;
  text-align: left;
  margin-top: 1rem;
  line-height: 1.8rem;
  font-family: "Raleway", sans-serif;
  display: flex;
  padding-left: 1rem;
  padding-bottom: 1rem;
  border-bottom: 0.5px solid black;
  margin-top: 2.5rem;
}

.student-image-border {
  border-radius: 100%;
  border-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 0.5px solid #000;
  padding: 1rem;
  height: 7rem;
  width: 9rem;
  position: relative;
  top: 1.5rem;
}

.student-image {
  height: 5rem;
  width: 5rem;
}

.student-info {
  margin-left: 3rem;
  width: 100%;
}

.name-container {
  display: flex;
  justify-content: space-between;
}

.grade-button {
  background-color: white;
  padding-right: 5rem;
  transition: all 0.3s ease-in-out;
}

.grade-button:hover {
  transform: scale(1.1);
}

.student-contact-info {
  padding-left: 1.5rem;
}

.grade-container {
  margin-top: 3rem;
}

h1 {
  font-size: 3rem;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}

/* Media Queries */

@media screen and (max-width: 810px) {
  h1 {
    font-size: 2rem;
  }
}

@media screen and (min-width: 426px) and (max-width: 723px) {
  h1 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 425px) {
  .search-bar {
    width: 80vw;
    font-size: 1rem;
  }

  .student-block-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    margin-top: 1rem;
  }

  .student-image-border {
    border-radius: 90%;
    width: 10rem;
    height: 11rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
  }

  .student-image {
    width: 7.5rem;
  }

  .student-info {
    text-align: center;
    margin: 0;
  }

  .name-container {
    display: flex;
    flex-direction: column;
  }

  .grade-button {
    padding-right: 0rem;
  }

  .student-contact-info {
    padding: 0;
  }

  .grade-container {
    width: 10rem;
    height: 15rem;
    margin-left: auto;
    margin-right: auto;
  }

  h1 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 375px) {
  h1 {
    font-size: 1.5rem;
  }
}
